/* app global css */

html {
    overflow: hidden;
}


::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}

::-webkit-scrollbar-track {
    background: #ffffff00;
}

::-webkit-scrollbar-thumb {
    background: #111;
    border-radius: 4px;
    border: 1px solid #777;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

::-webkit-scrollbar-corner {
    background: transparent;
}